body {
    background-color: #e4e978;
}
article {
    background-color:#e4e978; 
    width: 700px;
    border: 1px solid #b2ad7d;
    margin: 15px 10px;
    padding: 5px 15px;
}

section article{
    color:#4c7658;
    font-style: italic;
    background-color: #f2f4c0;
}

/* header {
    margin: 15px 10px;
    padding: 5px 15px;
    background-color: #f2f4c0;
    width: 700px;
    border: 1px solid #b2ad7d;
} */

article {
    background-color: #f2f4c0;
}