@media screen and (max-width: 600px) {
    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    .row {
        
        width: 100%;
        margin-left: 0 80px;
    }

    .tm-nav-li {
        padding-left: 25px;

    }

    .tm-header-inner {
        padding-right: 0;
    }

    .tm-site-title {
        font-size: 55px;
    }

    .tm-site-description {
        font-size: 25px;
    }

    .tm-nav-link {
        font-size: 25px;
    }

    .tm-site-logo {
        width: 100px;
    }

    .col-md-6 col-12 {
        margin: 0;
        padding: 0;
    }

    .tm-header-inner {
        padding-left: 15px;
    }
    .tm-section-title {
        text-align: center;
        margin-left:0;
        font-size: 48px;
    } 

    body > main > header > p {
        font-size: 20px;
        text-align:start;
        padding: 20px;
    }

    .tm-paging-links {
        display: flex;
        flex-direction: column;
    }

    .tm-paging-item {
        width:28%;
        margin-left:10px;
    }
    .tm-gallery-page {
        margin:0;
    }

    #tm-gallery-page-pizza {
        display: block;
        width: 70%;
    }

    .tm-gallery-page {
        width: 100%;
    }

    .tm-gallery-item {
        max-width:400px;
    }
    
    #tm-gallery-page-pizza > article > figure > img {
        max-width: 400px;
        width:380px;
    }
    #tm-gallery-page-pizza > article > figure > figcaption > h4 {
        font-size: 30px;
    }

    #tm-gallery-page-pizza > article > figure > figcaption > p {
        font-size: 18px;
    }
    
    #tm-gallery-page-pizza > article > figure > figcaption > p.tm-gallery-price {
        font-size: 22px;
        padding-top:25px;
    }

    .tm-cta-section {
        max-width: 600px;
        margin: auto;
    }

    body > header > article > article > article > nav {
        margin-left: 30%;
    }
}
