body {
    display: flex;
    background-color: rgb(238, 238, 238);
    height: 100vh;
    font-family:Helvetica, sans-serif;
    flex-direction: column;
    
}

h1 {
    text-transform: capitalize;
}

header {
    border-bottom: 3px solid black;
}

footer {
    color:rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
    padding: 3px;
    position: absolute;
    bottom: 0;
    width: 100%;

}

main {
    margin: 10px;
    padding: 10px;
}