body {
    background-color: #f9f7cf;
}

header {
    background-color: #f2dcbb;
    width: 480px;
    padding: 15px 5px 15px;
}

header h1,h2 {
    padding: 15px 5px 15px;
}

footer {
    background-color: #f2dcbb;
    width: 480px;
    padding: 15px 5px 15px;
}

footer p {
    padding: 15px 5px 15px;
}

main {
    width: 480px;
    padding: 15px 5px 15px;
}