@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");

body {
    background-color: lightgray;
}

button {
    border-radius: 18px;
    padding: 5px 10px;
    margin-right: 8px;
    border-color: rgb(51, 51, 51);
    outline: none;
    cursor: pointer;

}

.normal-buttons .button {
    background-color: lightgray;
    color: rgb(51, 51, 51);
}

.fill {
    background-color: rgb(51, 51, 51);
    color: rgb(251, 251, 251);
}



.normal-buttons .hover:hover {
    color: rgb(0, 102, 0);
    border-color: rgb(0, 102, 0);
    cursor: pointer;
    border-radius: 18px;
}


.filled-buttons>button:nth-child(4):hover,
.icon-buttons>button:nth-child(4):hover {
    background-color: rgb(0, 102, 0);
    color: rgb(251, 251, 251);
    border-color: rgb(0, 102, 0);
}



.normal-buttons .button,
.filled-buttons .button,
.icon-buttons .button{
    border-radius: 18px;
    padding: 5px 10px;
    margin-right: 8px;
    border: 1px solid rgb(51, 51, 51);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
}

.normal-buttons > a:nth-child(2){
    font-size: 14px;
    color:rgb(51, 51, 51);
}
