html {
    font-family: Helvetica;
}

.container {
    background-color: rgb(245, 244, 244);
    width: 1000px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    position: relative;
}

/* left side */

.left-side {
    margin: 50px;
    width: 30%;
}

.first-paragraph {
    font-size: 12px;
    font-weight: bold;
    color: rgb(77, 77, 77);
}

.left-side-title {
    font-weight: lighter;
    color: #2c3541;
    margin-bottom: 30px;
}

.second-paragraph {
    font-size: 14px;
    color: rgb(77, 77, 77);
    line-height: 1.6;
    text-align: justify;
}

.first-button {
    border-radius: 4px;
    border: 2px solid #6f76f6;
    padding: 10px 20px;
    background-color: #6f76f6;
    color: white;
    font-weight: bold;
}

.second-button {
    border-radius: 4px;
    border: 2px solid rgb(77, 77, 77);
    ;
    padding: 10px 20px;
    background-color: rgb(245, 244, 244);
    color: rgb(77, 77, 77);
    margin-left: 15px;
    font-weight: bold;
}

.buttons {
    display: inline-block;
}

/* right side */

.right-part img {
    width: 300px;
    margin-left:100px;
    position:absolute;
    right:50px;
    bottom:0px;
    height: 300px;
}