body {
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
}

header h1 {
    font-size: 28px;
}

header p {
    font-style: italic;
}

section {
    margin-left: 20px;
}

.paragraph {
    font-size: 24px;
}