html {
    font-family: Helvetica, sans-serif;
    
}

nav {
    display: inline-block;
}

nav ul li {
    margin: 0 10px;
    display: inline-block;
}
    

a {
    color: green;
    text-decoration: none;
    display: inline-block;
}


header h1 {
    display: inline-block;
}