.container {
    position: relative;
}

.first-part,
.second-part,
.third-part,
.fourth-part,
.fift-part,
.sixt-part,
.menu-icon {
    background-color: var(--clr-grey-background);
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

/* menu */

.menu-icon {
    padding-left: 92%;
    padding-top: 20px;
    display: block;
}


.menu-icon {
    background-color: var(--clr-grey-background);
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.menu-icon span {
    margin-right: 10px;
    font-size: 14px;
}


/* first container*/

.first-part {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    padding-top: 100px;
}

.first-part-left {
    padding-left: 100px;
    width: 60%;
}

.first-part-left h1 {
    text-align: left;
    margin-bottom: 20px;
    padding-top: 50px;
    font-weight: lighter;
    font-size: 45px;
}

.first-part-left span {
    font-weight: bold;
}

.first-part-left p {
    width: 55%;
    font-style:oblique;
    font-size: 17px;
    line-height: 1.6;

}

.vl {
    margin-top:30px;
    border-left: 1px solid black;
    height: 80px;
  }

.first-part img {
    width: 600px;
}


/* seconf part */

.second-part {
    display: flex;
    flex-direction: row;
    padding: 80px;
    
}

.second-part-right {
    margin-left: 50px;
    width: 60%;
}

.hr {
    width: 75px;
    border-bottom: 1px solid black;
    float: left;
    padding-top: 32px;
    margin-right: 30px;
}

.second-part-right h1{
    font-weight: lighter;
    font-size: 45px;
    margin-bottom: 20px;
}

.h1-bold {
    font-weight: bold;
}


.second-part-right p {
    width: 55%;
    font-style:oblique;
    font-size: 17px;
    line-height: 1.6;
}