@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");

body {
    font-family: 'Raleway', sans-serif;
}

.container {
    position: relative;
}

.first-part,
.second-part,
.third-part,
.fourth-part,
.fift-part,
.sixt-part,
.menu-icon {
    background-color: #eeefef;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

/* menu */

.menu-icon {
    padding-left: 92%;
    padding-top: 20px;
    display: block;
}


.menu-icon {
    background-color: #eeefef;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.menu-icon span {
    margin-right: 10px;
    font-size: 14px;
}


/* first container*/

.first-part {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    padding-top: 100px;
}

.first-part-left {
    padding-left: 100px;
    width: 60%;
}

.first-part-left h1 {
    text-align: left;
    margin-bottom: 20px;
    padding-top: 50px;
    font-weight: lighter;
    font-size: 45px;
}

.first-part-left span {
    font-weight: bold;
}

.first-part-left p {
    width: 55%;
    font-style:oblique;
    font-size: 17px;
    line-height: 1.6;

}

.vl {
    margin-top:30px;
    border-left: 1px solid black;
    height: 80px;
  }

.first-part img {
    width: 600px;
}