@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 5% 20%;
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
}

.container,
.services {
    display: flex;
    flex-direction: row;
}

.container {
    gap: 40px;
}

.text-contain {
    width: 32%;
}

.right-part-image {
    width: auto;
}

#heading-title {
    font-weight: lighter;
    margin-top: -5px;
}

p {
    color: #949494;
    font-size: 15px;
}

.srv-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.services {
    align-items: center;
}

.title-serv {
    font-weight: bold;
    color: black;
    font-size: 16px;
}