html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

blockquote {
    border-left: rgb(221, 221, 221);
    font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, serif;
}